
@import ix.npc.controllers.NPCApp
@import ix.npc.models.Properties._
@import ix.npc.models.Entity
@import ix.npc.models.Entity._
@import ix.core.models.Structure
@import ix.core.search.TextIndexer.TermVectors
@import java.net.URLEncoder

@(e: Entity, ctx: String = null)

@tvlink(tv: TermVectors, value: String, t: Type) = {
<a href='@{ix.npc.controllers.routes.NPCApp.entities(null,15,1)+"?facet="+STRUCTURE_SCAFFOLD+"/"+value+"&facet="+URLEncoder.encode("Entity Type","utf8")+"/"+t}'><span class="badge">@tv.getTermCount(t.toString)</span></a>
}

<div class="col-sm-6 col-md-4">
   <div class="thumbnail">
     @defining(NPCApp.getStructure(e)) { struc =>
     @if(struc != null) {
     <a role="button" class="btn btn-default"
	style="float:right;"
	href='@ix.npc.controllers.routes.NPCApp.sketcher(struc.id.toString)'><i class="fa fa-edit" aria-hidden="true"></i></a>     
        <a href='@ix.npc.controllers.routes.NPCApp.entity(e.getId.toString)'><img src='@ix.npc.controllers.routes.NPCApp.structure(struc.id.toString, "svg", 200, ctx)' alt="Structure for entity @e.getName"> </a>
       }

	<div class="caption">
	  <span style="font-family:monospace">@e.getName</span>
	  @if(e.getType == Type.Scaffold) {
	    @defining(NPCApp.getTermVectors("Entity Type", STRUCTURE_SCAFFOLD, e.getName)){ tv =>
	      @if(tv != null) {
	       <span class="pull-right">@tvlink(tv,e.getName,Type.Compound)</span>
	      }
	    }
	  }
	</div>
     }
   </div>
</div>
