@import ix.npc.models.Entity
@import ix.core.models.Payload
@import ix.core.models.Keyword
@import ix.core.models.Structure
@import ix.npc.controllers.NPCApp
@import ix.ncats.controllers.App
@import ix.npc.models.Properties
@import java.net.URLEncoder
@import ix.utils.Util
@import ix.npc.models.Properties._
@import ix.core.models.Structure._

@(entity: Entity)

@struclabel(text: String, label: String, kind: String) = {
 @defining(entity.getLink(Properties.STRUCTURE_TYPE, label)) { link =>
   @if(link != null) {
      @for((k,values) <- Util.groupKeywords(link.properties)) {
         @if(k.equals(kind)) {
	       @for(v <- values) {
                 <a href='@{ix.npc.controllers.routes.NPCApp.entities()+"?facet="+URLEncoder.encode(k,"utf8")+"/"}@URLEncoder.encode(v, "utf8")'>@text</a>
		 @defining(App.getTermCount(classOf[Entity], k, v)) { count =>
		   <span class="badge pull-right">@Util.format(count)</span>
		 }
	       }
	 }
      }
    }
  }
}

<div class="container-fluid">
  <div class="col-md-12">
    <div class="page-header">
      <h1>@entity.getName</h1>
    </div>
    <div class="row">
      <div class="col-md-4">
	<div class="panel panel-default">
	  <div class="panel-body">
	    @defining(NPCApp.getStructure(entity)) { struc =>
               @if(struc != null) {
	       <a role="button" class="btn btn-default" style="float:right;"
		  href='@ix.npc.controllers.routes.NPCApp.sketcher(struc.id.toString)'><i class="fa fa-edit" aria-hidden="true"></i></a>	
	    <center>
	      <img alt="Structure of @entity.getName"
		   src='@ix.ncats.controllers.routes.App.structure(struc.getId,"svg",300)'>
	    </center>
	       }
	    }
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-body">
            @struclabel("Identical structure",STRUCTURE_ORIGINAL, H_LyChI_L4)
	    <br>@struclabel("Same structure", STRUCTURE_STANDARDIZED, H_LyChI_L4)
	    <br>@struclabel("Stereo insensitive", STRUCTURE_STANDARDIZED, H_LyChI_L3)
	    <br>@struclabel("Same topology", STRUCTURE_STANDARDIZED, H_LyChI_L1)
	  </div>
	</div>
      </div>
      <div class="col-md-8" style="max-height:600px;overflow-y:auto;">
        <div>
	   <ul class="nav nav-tabs" role="tablist">
	      <li role="presentation" class="active"><a href="#properties"
	      	  aria-controls="properties" role="tab"
		  data-toggle="tab">Properties</a></li>
	      <li role="presentation"><a href="#original"
	      	  aria-controls="profile" role="tab"
		  data-toggle="tab">Original</a></li>
           </ul>
	   <div class="tab-content">
	      <div role="tabpanel" class="tab-pane active" id="properties">
  	      	 <table class="table table-striped">
		   <tr>
		     <th>Property</th>
		     <th>Value</th>
	           </tr>
		   @defining(entity.getLinkedObject(classOf[Payload])) { py =>
		      @if(py != null) {
		        <tr>
			  <td>Dataset</td>
			  <td><a href='@{ix.npc.controllers.routes.NPCApp.entities(null,15,1)+"?facet=Dataset/"+URLEncoder.encode(py.name,"utf8")}'>@py.name</a></td>
  	      		</tr>
                      }
	           }
		   <tr>
		     <td>Synonyms</td>
		     <td>
		       @for(kw <- entity.getSynonyms) {
			  <a href='@{ix.npc.controllers.routes.NPCApp.entities(null,15,1)+"?facet="+URLEncoder.encode(kw.label,"utf8")+"/"+URLEncoder.encode(kw.term,"utf8")}'>@kw.term</a>&nbsp;
		       }
		     </td>
		   </tr>
	           @for((k,v) <- entity.groupProperties()) {
		      <tr>
		        @if(!k.equals(ORIGINAL_INPUT)) {
		          <td>@k</td>
			  <td>
		          @for(p <- v) {
		             @p match {
			       case kw: Keyword => {
			       <a href='@{ix.npc.controllers.routes.NPCApp.entities(null,15,1)+"?facet="+kw.label+"/"+URLEncoder.encode(kw.term,"utf8")}'>@kw.term</a>                       }
		               case _ => {
		                  @p.getValue
			       }
			     }
			   }
			}
			</td>
		      </tr>
	           }
		 </table>
	      </div>
	      <div role="tabpanel" class="tab-pane" id="original">
	         @defining(entity.getProperty(Properties.ORIGINAL_INPUT)) { p =>
		    @if(p != null) {
	              <pre class="pre-scrollable">@p.getValue</pre>
		    }
		 }
	      </div>
	   </div>
         </div>
      </div>
    </div>
  </div>
</div>
