
@(active: String)

@item(name: String, url: String) = {
<li role="presentation"
    @if(name.equals(active)){class="active"}><a href='@url'>@name</a>
</li>
}

@ix.ncats.views.html.header{
<a class="navbar-brand" href="@ix.npc.controllers.routes.NPCApp.index"
   style="padding: 0px 5px; margin-left: 0px;">
  <img height="50" alt="NPC Logo"
       src='@routes.Assets.versioned("images/npc_logo.png")'/>
</a>
}{
<ul class="nav navbar-nav navbar-left">
  @item("Admin", ix.npc.controllers.routes.Registration.admin.url)
  @item("Register", ix.npc.controllers.routes.Registration.register.url)
  @item("Entities", ix.npc.controllers.routes.NPCApp.entities(null, 15, 1).url)
</ul>

<form class="nav navbar-form navbar-right" role="search" method="GET"
        action="@ix.npc.controllers.routes.NPCApp.entities(null,10,1)">
  <div class="form-group">      
    <input type="text" id="search-header-field" name="q"
	   style="width:200px;"
	   class="typeahead form-control" placeholder="Search..."/>

    <div class="dropdown pull-right">
        <button type="submit" class="btn btn-default" style="margin-left: 2px"
        data-toggle="tooltip" data-placement="bottom" title="Search entities">
         <span class="fa fa-search fa-fw" aria-hidden="true"></span>
        </button>
@**
        <a class="btn btn-default" href="@ix.npc.controllers.routes.NPCApp.sketcher(null)"
            role="button" style="margin-right : 1px"
            data-toggle="tooltip" data-placement="bottom" title="Structure search"
        ><i class="fa fa-flask"></i></a>
**@
    </div>
  </div>
</form>
}

@**
** Specify all fields that you want to support autocomplete;
** Look at /api/v1/suggest/@fields
** for a list of fields that can be specified!
**@
@ix.ncats.views.html.typeahead(Array("Target","Disease","Ligand","Gene","MeSH"))
