
@import ix.npc.controllers.NPCApp
@import ix.ncats.controllers.App.FacetDecorator
@import ix.npc.models.Entity

@(current: Int, rows: Int, total: Int, pages: Array[Int],
facets: Array[FacetDecorator], entities: List[Entity], ctx: String)

@ix.ncats.views.html.content("Entities", "ix.npc.models.Entity",
ix.npc.controllers.routes.NPCApp.entities().url,
current, rows, total, pages, facets){ @entitiesmenu("Entities") }{
<ol class="breadcrumb" style="margin-top:60px;">
  <li><a href="@ix.npc.controllers.routes.NPCApp.index"><span class="fa fa-home"></span> Home</a></li>
</ol>
}{
  @defining(NPCApp.toMatrix(3, entities)) { emat =>
     @for(i <- 0 until emat.length) {
	  <div class="row">
	    @for(e <- emat(i)) {
	       @if(e != null) {
	           @cell(e,ctx)
	       }
	    }
	  </div>
     }
  }
}(HtmlFormat.empty)

<script>
$(function () {
  $('[data-toggle="popover"]').popover();
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
