
@import ix.npc.models.Entity
@import ix.core.models.Payload
@import ix.core.models.Keyword
@import ix.npc.controllers.NPCApp
@import ix.ncats.controllers.App
@import ix.npc.models.Properties
@import java.net.URLEncoder


@(entity: Entity)

@ix.ncats.views.html.main(entity.getName){ @entitiesmenu("@entity.getName") }{
<ol class="breadcrumb" style="margin-top:60px;">
  <li><a href="@ix.npc.controllers.routes.NPCApp.entities(null,15,1)"><span class="fa fa-home"></span> Entities</a></li>
  <li class="active">@entity.getName</li>
</ol>
}{
  @entity.getType match {
    case Entity.Type.Compound => {
      @compounddetails(entity)
    }
    case _ => {
      <div class="alert alert-danger alert-dismissible"
      	     	  style="overflow:auto;" role="alert">
          I don't know how to display entity type <code>@entity.getType</code>!
      </div>
    }
  }
}
