/*
#
# shameless stolen from http://bl.ocks.org/mbostock/7607535
#
*/

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

/* bootstrap color primary */
.node--leaf-Tclin {
    /*    fill: #337ab7;*/
    fill: #00ff00;
}

/* info */
.node--leaf-Tchem {
    /*    fill: #31708f;*/
    fill: #00ccff;
}

/* warning */
.node--leaf-Tbio {
    /*    fill: #8a6d3b;*/
    fill: #ffcc00;
}

/* danger */
.node--leaf-Tdark {
    fill: #a94442;
    /*fill: #ff0000;*/
}

.node--leaf {
    fill: white;
}

.label {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.node--root/*,
.node--leaf*/ {
  pointer-events: none;
}
