
html, * {
  padding: 0;
  margin: 0;
}

body {
    overflow-x: hidden;
    background-color:#E6E9ED;
}

*:focus {
    outline: 1px solid #03A9F4;
}

.page-header {
    border-bottom: 1px solid #a94442;
}

.highcharts-background {
    fill: none !important;
}
