@import ix.core.search.TextIndexer.Facet
@import ix.idg.controllers.IDGApp
@import ix.idg.controllers.Commons
@import java.net.URLEncoder

@(title: String)

@scripts = {
@*
This is updated by cloning the swagger directory, making changes : Hide topbar, hide version number button, break work on path, then rebuilding
*@
    <script src='@routes.Assets.versioned("swagger-ui/dist/swagger-ui-bundle.js")'></script>
    <script src='@routes.Assets.versioned("swagger-ui/dist/swagger-ui-standalone-preset.js")'></script>


    <script type="text/javascript">
            window.onload = function() {
                        // Build a system
                        const ui = SwaggerUIBundle({
                            url: '@ix.idg.controllers.routes.IDGApp.apiswagger',
                            dom_id: '#swagger-ui',
                            docExpansion: "list",
                            presets: [
                                SwaggerUIBundle.presets.apis,
                                SwaggerUIStandalonePreset
                            ],
                            plugins: [
                                SwaggerUIBundle.plugins.DownloadUrl
                            ],
                            layout: "StandaloneLayout"
                        });

                        window.ui = ui
                    }
                    </script>

}

@ix.ncats.views.html.main(title, scripts) {
    @menu("API")
} {
    @HtmlFormat.empty
} {
                <div id="swagger-ui"></div>
}
