
@(node: String)

<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <base target="_target">
  <link rel="stylesheet" href='@routes.Assets.at("stylesheets/circlepacking.css")'>
  <script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))' type='text/javascript'></script>  
  <script type="text/javascript" src='@routes.Assets.at("javascripts/d3.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/circlepacking.js")'></script>
</head>
<body>
<script>
  $(document).ready(function () {
     circlepacking('@ix.idg.controllers.routes.DTOHier.dtoNode(node)', '@ix.idg.controllers.routes.IDGApp.targets(null,10,1)');
  });
</script>
</body>
