@import com.fasterxml.jackson.databind.node.ObjectNode

@import ix.idg.controllers.IDGApp
@import ix.idg.controllers.Commons
@import scala.collection.JavaConversions._

@(faqs: ObjectNode)

@ix.ncats.views.html.main("Pharos: Frequently Asked Questions") {
    @helpmenu()
} {
    @HtmlFormat.empty
} {
    <div class="container vertical-center" id="main-box" style="padding-top : 60px ;">
        <div class="col-md-12">

            <div class="page-header">
              <h1>Frequently Asked Questions</h1>
            </div>

            <div class="row">


            <div class="alert alert-warning" role="alert">
                We collected answers to some frequently asked questions about how to use Pharos and the data
                contained within it. If you cannot find an answer to your question, make sure to contact us at
                <a href="mailto:pharos@@mail.nih.gov"><code>pharos@@mail.nih.gov</code></a>
            </div>


            <div class="panel-group" id="accordion">


                @for(nodeEntry <- faqs.fields()) {
                    <div class="faqHeader">@nodeEntry.getKey()</div>
                    @for(item <- nodeEntry.getValue().iterator) {

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target='#@item.get("href").asText()' href='#@item.get("href").asText()'>
                                        @Html(item.get("question").asText())
                                        </a>
                                </h4>
                            </div>
                            <div id="@item.get("href").asText()" class="panel-collapse collapse">
                                <div class="panel-body">
                                   @Html(item.get("answer").asText())
                                </div>
                            </div>
                        </div>

                    }
                }




            </div>
        </div>
    </div>
        </div>


    <head>
        <link type="text/css" rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")'/>
        <link type="text/css" rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")'/>
        <script type="text/javascript" src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
        <style>
            p { margin-bottom: 0.5em;}
        .faqHeader {
        font-size : xx-large ;
        padding: 10px;
        }

        .panel-heading a:after {
        font-family : 'Glyphicons Halflings' ;
        content : "\e114" ; /* "play" icon */
        float : right ;
        color : #F58723 ;
        }

        .panel-heading a.collapsed:after {
        content : "\e080" ;
        }
        </style>


<script>
$(function () {
    $('[data-toggle="popover"]').popover();
    $('[data-toggle="tooltip"]').tooltip();
});

$(document).ready(function () {
    var url = window.location.href;
    if (url.indexOf("expand") != -1) {
        var divid = url.split("#")[1 ].split("?")[0];
        console.log(divid);
        $("#"+divid ).show();
        $('html, body').animate({
            scrollTop: $("#"+divid).offset().top - 100
        }, 500);
    }
})
    </script>
    </head>
}
