
@import ix.core.search.TextIndexer.Facet
@import ix.idg.controllers.IDGApp
@import ix.idg.controllers.Commons
@import java.net.URLEncoder

@(title: String, target: Facet, disease: Facet, ligand: Facet)

@ix.ncats.views.html.main("Pharos: Help"){ @helpmenu() }{ @HtmlFormat.empty }{
<div class="container vertical-center"
     id="main-box" style="padding-top:60px;">
  <div class="col-md-12">

      <div class="page-header">
          <h1>Help</h1>
      </div>

      <div class="row">


                <p>This page provides a variety of information on concepts and methods used in the Pharos inerface as well as
                    a description of terms used to describe the data from the <a href="http://juniper.health.unm.edu/tcrd/">Target Central
                    Resource Database</a>.</p>

                <h3>Definitions</h3>

                <a name="tdl"></a> <h4>Target Development Level</h4>
                <table class="table">
		  <tr>
                    <td><span class="label label-primary">Tclin</span></td>
                    <td>These targets have activities in DrugDB (i.e., approved drugs) with known mechanism of action that satisfy the activity thresholds detailed below</td>
		  </tr>
		  <tr>
                    <td><span class="label label-info">Tchem</span></td>
                    <td>These targets have activities in <a href="https://www.ebi.ac.uk/chembl/">ChEMBL</a> that satisfy the activity thresholds detailed below. In some cases, targets have been manually migrated to Tchem by human curation based on small molecule activities from other sources.</td>
		  </tr>
		  <tr>
                    <td><span class="label label-warning">Tbio</span></td>
                    <td>These targets do not have known drug or small molecule activities that satisfy the activity thresholds detailed below AND satisfy one or more of the following criteria:
                        <ul>
                            <li>target is above the cutoff criteria for Tdark</li>
                            <li>target is annotated with a Gene Ontology Molecular Function or Biological Process leaf term(s) with an Experimental Evidence code</li>
                            <li>target has confirmed <a href="http://www.omim.org/">OMIM</a> phenotype(s)</li>
                        </ul>
                    </td>
		  </tr>
		  <tr>
                    <td><span class="label label-danger">Tdark</span></td>
                    <td>These are targets about which virtually nothing is known. They do not have known drug or small molecule activities that satisfy the activity thresholds detailed below AND satisfy two or more of the following criteria:
                        <ul>
                            <li>A PubMed text-mining score from Jensen Lab &lt; 5</li>
                            <li>&le; 3 Gene RIFs</li>
                            <li>&le; 50 Antibodies available according to <a href="http://antibodypedia.com">http://antibodypedia.com</a></li>
                    </ul> </td>
		  </tr>
		</table>


                <a name="datasources"></a> <h3>Data Sources</h3>
                The goal of the IDG KMC is to integrate a variety of data sources to shed light on unstudied and understudied
                targets. To achieve this we have pulled together data on protein targets, small molecule activity, genomic
                behavior and disease links. For a list of datasources, and their associated entity counts,
                see the <a href="@ix.idg.controllers.routes.IDGApp.about()">About Pharos</a> page. A visual representation
                of all targets and their representation in all IDG datasources can be viewed <a href="">here</a>. Over
                time we anticipate incorporating other relevant data sources.

                <br>
                <br>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <tr>
                                        <th>Source</th>
                                        <th>Target</th>
                                        <th>Disease</th>
                                        <th>Ligand</th>
                                    </tr>
                                    @for(source <- IDGApp.getDataSources()) {
                                        <tr>
                                            @if(source.href != null) {
                                                <td><a href="@source.href">@source.name</a></td>
                                            } else {
                                                <td>@source.name</td>
                                            }
                                        <td><a href='@{
                                            ix.idg.controllers.routes.IDGApp.targets() + "?facet=" + URLEncoder.encode(Commons.SOURCE, "utf8") + "/" + URLEncoder.encode(source.name, "utf8")
                                        }'>@source.targets</a>
                                        </td>
                                        <td><a href='@{
                                            ix.idg.controllers.routes.IDGApp.diseases() + "?facet=" + URLEncoder.encode(Commons.SOURCE, "utf8") + "/" + URLEncoder.encode(source.name, "utf8")
                                        }'>@source.diseases</a>
                                        </td>
                                        <td><a href='@{
                                            ix.idg.controllers.routes.IDGApp.ligands() + "?facet=" + URLEncoder.encode(Commons.SOURCE, "utf8") + "/" + URLEncoder.encode(source.name, "utf8")
                                        }'>@source.ligands</a>
                                        </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <a name="harmonogram"></a> <h2>Harmonogram</h2>
                The Harmonogram visualizes gene appearance in the <a href="http://amp.pharm.mssm.edu/Harmonizome">Harmonizome</a>
                resources using interactive clustergrams. Genes are shown as rows and resources are shown as columns.
                The gene occurrence value is normalized relative to the occurrence of other genes in the resource - the
                darker the tile the more the gene occurs in the resource. The NIH Reporter Grants Linked to NCBI Genes
                column shows the number of grants linked to each gene and this column is highlighted in blue. The resources
                are classified into Resource Groups, e.g., Disease or Phenotype Associations, and they are color coded using the
                column triangles.
                <p>
                You can view clustergrams for different gene classes, e.g., kinases, using the buttons on the sidebar.
                    The ordering of the clustergram can be changed by clicking the reordering buttons or by double-clicking
                    the row or column labels. For instance, double-clicking the NIH Reporter Grants column in Kinases view
                    and zooming into the top of the clustergram reveals that EGFR is the kinase associated with the most grants.

                <p>
                    If you have more questions take a look at the <a href="@ix.idg.controllers.routes.IDGApp.faq">
                        Frequently Asked Questions</a> or contact us at
                    <a href="mailto:pharos@@mail.nih.gov"><code>pharos@@mail.nih.gov</code></a>
                </p>
            </div>
    </div>
</div>
<head>
  <link type="text/css" rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")'/>
</head>
}
