@import ix.idg.models.Target
@import ix.idg.controllers.IDGApp
@import ix.idg.controllers.DossierApp
@(title: String, gene: String)

<div class="modal fade" id="modal-radar" tabindex="-1"
role="dialog" aria-labelledby="modalLabelRadar" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabelRadar">
                    @Html(title)
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <a class="btn btn-info" target="_blank" id="radardownloadlink" style="width:100%;"
                           href="http://amp.pharm.mssm.edu/Harmonizome/api/1.0/download/associations?gene=@gene" role="button">Download</a>
                        <br><br>
                        <form>
                            <div class="form-group">
                                <label for="select-agg">Aggregation Type</label>
                                <select id="select-agg" style="width:100%;">
                                    <option value="radar-attr_type">Attribute Type</option>
                                    <option value="radar-attr_group">Attribute Group</option>
                                    <option value="radar-data_type">Data Type</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="select-overlay">Overlay Data from</label>
                                <select id="select-overlay" style="width:100%;">
                                    <option value="none">None</option>
                                    <option value="all">All targets</option>
                                    <option disabled>&#9472;&#9472;&#9472;&#9472;</option>
                                    <option value="tdark">TDark</option>
                                    <option value="tchem">TChem</option>
                                    <option value="tbio">TBio</option>
                                    <option value="tclin">TClin</option>
                                    <option disabled>&#9472;&#9472;&#9472;&#9472;</option>
                                    <option value="gpcr">GPCR</option>
                                    <option value="ogpcr">oGPCR</option>
                                    <option value="kinase">Kinase</option>
                                    <option value="ic">Ion Channel</option>
                                    <option value="nr">Nuclear Receptor</option>
                                    <option disabled>&#9472;&#9472;&#9472;&#9472;</option>
                                    <option value="dossier-Default" tids='@DossierApp.getTargetsForFolder("Default").mkString(",")'>&#x1f4c2; Default</option>
                                    @defining(DossierApp.getFolderNames()) { folderNames =>
                                        @if(folderNames.size() > 0) {
                                            @for(folderName <- folderNames) {
                                    <option value="dossier-@folderName" tids='@DossierApp.getTargetsForFolder(folderName).mkString(",")'>&#x1f4c2; @folderName</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </form>
                        <label for="radar-ds-container">Knowledge Summary</label>
                        <div id="radar-ds-container">

                        </div>
                    </div>
                    <div class="col-md-9">

                        <span class="pull-right">
                        <a class="btn btn-default" href="@ix.idg.controllers.routes.IDGApp.faq()#collapse5?expand=true"
                           role="button" style="margin-right:1px; margin-left:1px;">
                            <i class="fa fa-info-circle fa-lg "></i></a></span>

                        <span class="pull-right"></span>
                        <div id="modal-radardiv" target=""
                        style="display: inline;"
                        class="embed-responsive embed-responsive-4by3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
