
@import java.net.URLEncoder
@import ix.core.search.TextIndexer._
@import ix.core.controllers.search.SearchFactory
@import ix.idg.models._
@import ix.idg.controllers.TermVectorSummary
@import ix.idg.controllers.TermVectorConditional
@import ix.idg.controllers.IDGApp
@import ix.idg.controllers.Commons._

@(tvs: TermVectorSummary, ctv: TermVectorConditional)

@ix.ncats.views.html.main("Summary of "+tvs.field){
@targetmenu(null)
}{@HtmlFormat.empty}{
<div class="container-fluid" style="padding-top:50px;">
    <div class="page-header">
      <h1><a href='@ix.core.controllers.v1.routes.RouteFactory.termVectors("targets", tvs.field)'><i class="fa fa-code"></i></a> Summary of <em>@tvs.field</em>
       <div class="pull-right">
           <a href="@ix.idg.controllers.routes.IDGApp.targets()"
                    class="btn btn-default btn-lg">Close</a>
       </div>
      </h1>
    </div>
    <div class="row">
      <div class="col-md-6">
	<div class="panel panel-default">
          <div class="panel-body">
            <table class="table table-striped">
              <tr>
		<td>Dimension</td>
		<td>@tvs.termRank.length</td>
	      </tr>
	      <tr>
		<td>Average terms per target</td>
		  @if(tvs.avgTermsPerDoc != null) {
		     <td>@{"%1$.3f".format(tvs.avgTermsPerDoc)}</td>
		  } else {
		     <td></td>
		  }
	      </tr>
	      <tr>
		<td>Some popular terms</td>
		<td>@for(i <- 0 until Math.min(tvs.termRank.length,5)) {
	             <div>
		       @if(tvs.termRank(i).length > 40) {
		       <a class="label label-primary loader" 
			  data-toggle="tooltip"
       			  data-html="true"
       			  data-trigger="hover"
       			  data-placement="top"
       			  title="@tvs.termRank(i)"
       			  data-content="<p align='left'>@tvs.termRank(i)</p>"
			  href='@{ix.idg.controllers.routes.IDGApp.targets()+"?facet="+URLEncoder.encode(tvs.field,"utf8")+"/"}@URLEncoder.encode(tvs.termRank(i), "utf8")'>@tvs.termRank(i).substring(0,40)... <span class="badge">@tvs.termCount(i)</span></a>
		       } else {
		       <a class="label label-primary loader" 
			  href='@{ix.idg.controllers.routes.IDGApp.targets()+"?facet="+URLEncoder.encode(tvs.field,"utf8")+"/"}@URLEncoder.encode(tvs.termRank(i), "utf8")'>@tvs.termRank(i) <span class="badge">@tvs.termCount(i)</span></a>
		       }
		     </div>
	            }
		</td>
	      </tr>
	      <tr>
		<td>Top targets with term counts</td>
		<td>@for(e <- tvs.targets.entrySet) {
		       @defining(IDGApp.getGeneSymbol(e.getKey)){ gene =>
		         <div><a class="label label-primary loader"
			    title='@e.getKey.idgTDL: @e.getKey.name'
			    href='@{ix.idg.controllers.routes.IDGApp.targets()+"/"+gene}'>@gene <span class="badge">@e.getValue</span></a></div>
		       }
	            }
		</td>
	      </tr>
	      <tr>
		<td colspan="2">
		  <div id="term-count-profile"
		       style="width:100%;height:205px;">
		  </div>
		</td>
	      </tr>
	    </table>
	  </div>
	</div>
      </div>
      <div class="col-md-6">
      	<div class="panel panel-default">
          <div class="panel-body">
	    <div id="term-profile" style="height:550px;">
	    </div>
          </div>
	</div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12" >
          <div class="panel panel-defaul">
            <div id="term-bubble" class="panel-body"
	         style="width:800px; height:800px; text { font: 10px sans-serif;}">
	    </div>
	    @if(ctv.terms.length > 10000) {
	      <div class="panel-footer">
                <em>@tvs.getSingletonCount singleton terms are not shown!</em>
	      </div>
	    }	    
	  </div>
        </div>
      </div>	
   </div>
</div>
<head>
  <link type="text/css" rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")'/>
  <script src='@routes.WebJarAssets.at(WebJarAssets.locate("highcharts.js"))' type='text/javascript'></script>
   <script type="text/javascript" src='@routes.Assets.versioned("javascripts/d3.js")'></script>
</head>
}

<script>
$(function () {
  $('[data-toggle="popover"]').popover();
  $('[data-toggle="tooltip"]').tooltip();
});

var url = '@ix.idg.controllers.routes.IDGApp.targets(null,10,1)';
function filter (term) {
  window.location = url+(url.indexOf('?')>0?'&':'?')+'facet=@tvs.field'+'/'+term;
}

$(document).ready(function () {
    $('#term-count-profile').highcharts({
        chart: {
	   type: 'column',
	   zoomType: 'x'
	},
	title: {
	   text: 'Distribution of counts of <b>@tvs.field</b>'
	},
	xAxis: {
	   min: 0,
	   startOnTick: true,
	   endOnTick: true,
	   showLastLabel: true
	},
	yAxis: {
	   min: 0,
	   title: {
	      text: null
	   }
	},
	tooltip: {
	   pointFormat: '<b>{point.y}</b> target(s) with <b>{point.x}</b> value(s) for <b>@tvs.field</b>'
	},
        credits: {enabled: false},
	legend: { enabled: false},
	series: [{
	   data: [
	     @for(i <- 0 until Math.min(2000,tvs.termCountProfile.length)) {
	        [@i,@tvs.termCountProfile(i)],
	     }
	   ]
	}]
    });

    $('#term-profile').highcharts({
       @if(ctv.condition.equals(IDG_DEVELOPMENT)) {
       colors: [
    	'#f0ad4e', // Tbio
    	'#5bc0de', // Tchem
    	'#337ab7',
        '#d9534f' // Tdark		
       ],
       }
       chart: {
          type: 'bar',
	  zoomType: 'x'
       },
       title: {
          text: 'Term distribution of <b>@tvs.field</b> per<br><b>@ctv.condition</b>'
       },
       @if(ctv.terms.length > 2000) {
         subtitle: {
            text: '[Plot truncated due to large (@ctv.terms.length > 2000) number of terms.]' 
         },
       }
       xAxis: {
          categories: [
	      @for(i <- 0 until Math.min(2000,ctv.terms.length)){'@ctv.terms(i)',}
	  ]
       },
       yAxis: {
          title: {
	     text: 'Count'
	  }
       },
       legend: {
          reversed: true
       },
       credits: {
          //enabled: false
	  href: 'https://pharos.nih.gov',
	  text: 'Pharos (@ix.BuildInfo.COMMIT)',
       },
       plotOptions: {
          series: {
	     stacking: 'normal',
	     events: {
	       click: function(event) {
	         console.log(this.name+' '+this.chart.xAxis[0].categories[event.point.x]);
		 filter (this.chart.xAxis[0].categories[event.point.x]);
	       }
	     }
          }
       },
       series: [ @for(i <- 0 until ctv.categories.length) {
             {name: '@ctv.categories(i)', data: [ @for(j <- 0 until Math.min(2000,ctv.terms.length)) {@ctv.count(j, i),} ]},
	  } ]
    });

    // TODO: make this responsive!
    bubbleChart('term-bubble', 800);
});

function bubbleChart (id, diameter) {
    var format = d3.format(",d"),
    	color = d3.scale.category20c();

    var bubble = d3.layout.pack()
    	.sort(null)
    	.size([diameter, diameter])
    	.padding(1.5);

    var svg = d3.select('#'+id).append("svg")
    	.attr("width", diameter)
	.attr("height", diameter)
    	.attr("class", "bubble");

    d3.json('@ix.core.controllers.v1.routes.RouteFactory.termVectors("targets", tvs.field)', function(error, json) {
      if (error) throw error;
      
      var node = svg.selectAll(".node")
      	  .data(bubble.nodes(terms (json))
	  	.filter(function(d) { return !d.children; }))
    	  .enter().append("svg:a").attr("xlink:href", function(d) {
	        return url+(url.indexOf('?')>0?'&':'?')+'facet=@tvs.field'+'/'+d.name;
	     })
	    .append("g")
      	    .attr("class", "node")
      	    .attr("transform", function(d) {
	    		       return "translate(" + d.x + "," + d.y + ")";
			       });

      node.append("title")
	.text(function(d) { return d.name + ": " + format(d.value); });

      // TODO: this should be a pie chart of the TDL!
      node.append("circle")
	.attr("r", function(d) { return d.r; })
      	.style("fill", function(d) { return color(d.name); });

      node.append("text")
	.attr("dy", ".3em")
      	.style("text-anchor", "middle")
      	.text(function(d) {
	   var name = d.name;
	   if (d.name.startsWith("CHEMBL")) {
	     name = d.name.substring(6);
	   }
	   return name.substring(0, d.r / 4);
        });
    });

    function terms (json) {
       var nodes = [];
       for (var t in json.terms) {
          //console.log(t+' => '+json.terms[t].nDocs);
	  var cnt = json.terms[t].nDocs;
          @if(ctv.terms.length > 10000) {
            if (cnt > 1) {
              nodes.push({name: t, value: cnt});
	    }
	  } else {
	    nodes.push({name: t, value: cnt});
	  }
       }
       return {children: nodes};
    }
}
</script>
