@import ix.core.search.TextIndexer._
@import ix.ncats.controllers.App
@import ix.ncats.controllers.App.FacetDecorator
@import ix.utils.Util

@(facets: Array[FacetDecorator])

<script>
  var filters = {};
</script>

@facet(f: FacetDecorator) = {
 @defining(f.name.toLowerCase.replaceAll("[\\(\\)]+","").replaceAll("[\\s]+","-")) { fname =>
<div class="panel panel-default @{fname}-panel">
  <div class="panel-heading"  id='@fname'>
    <h3 class="panel-title" id="facetheader-@f.facet.getName" data-toggle="tooltip"

        @f.name() match {
            case "Development Level" => {
                title='Target development level (TDL) categorizing target based on known information and potential druggability with highest ranking of Tclin for targets with known mechanism of drug action to lowest ranking of Tdark for targest with least knowledge.'
            }
            case "IMPC Term" => {
                title='Terminology describing phenotypes based on work by the International Mouse Phenotyping Consortium.'
            }
            case "Tissue" => {
                title='Protein tissue expresison based on compilation of information from GTEx, HPM, HPA, IDG, UniProt, Jensen-KB, and Jensen-TM.'
            }
            case "Target Family" => {
                title="Target grouping based on protein family.  Currently the groupings are restricted to the original four classes in Phase I of IDG (see RFA-RM-13-011)."
            }
            case "Collection" => {
                title="Collection of targetsin different protein families highlighted by NIH based on RFA"
            }
            case "Disease" => {
                title="Disease cataloging terms base on DOID and OMIM classifications."
            }
           case _ => {title=''}
      }

    >
      @if(f.raw) { @HtmlFormat.raw(f.name())  } else { @f.name() }
      @if(f.url != null) { @HtmlFormat.raw(f.url) }
    </h3>
  </div>
  <div class='panel-body facet-panel-body @{fname}-panel-body'
       style="max-height: 300px;overflow-y: auto;">
    <table class="table table-condensed table-striped">
      @** move all selected filters upfront **@
      @for(i <- 0 until f.size()) {
        @if(App.hasFacet(f.facet,i)) {
	<tr @colorbar(f.percent(i))>
	  @defining(App.sha1(f.facet,i)) { id =>
	     <td>
	       <input type="checkbox" checked="true"
		      onclick="filterToggle(this)" 
		      label="Toggle @f.facet.getLabel(i)"
		      id="@id"/>
	     </td>
	     <script>
	        filters['@id'] = {
	           checked: @App.hasFacet(f.facet,i),
                   name: '@App.encode(f.facet)',
	           value: '@App.encode(f.facet, i)'
	        };
	     </script>
          }
	 @if(f.raw) {
            <td style="width:100%;">@HtmlFormat.raw(f.label(i))</td>
         } else {
            <td style="width:100%;"class = "text-capitalize">@f.label(i)</td>
         }
	 <td>
           @if(f.raw) {
             <span class="badge" style="float:right;">@HtmlFormat.raw(f.value(i))</span>
           } else {
             <span class="badge" style="float:right;">@f.value(i)</span>
           }
	 </td>
        </tr>
        }
      }
      @for(i <- 0 until Math.min(f.max, f.size())) {
        @if(!App.hasFacet(f.facet,i)) {
	<tr @colorbar(f.percent(i))>
	  @defining(App.sha1(f.facet,i)) { id =>
	     <td>
	       <input type="checkbox" onclick="filterToggle(this)" 
	       	      label = "Toggle @f.facet.getLabel(i)"
		      id="@id"/>
	     </td>
	     <script>
	        filters['@id'] = {
	           checked: @App.hasFacet(f.facet, i),
                   name: '@App.encode(f.facet)',
	           value: '@App.encode(f.facet, i)'
	        };
	     </script>
          }
          @if(f.raw) {
            <td style="width:100%;">@HtmlFormat.raw(f.label(i))</td>
          } else {
            <td style="width:100%;" class="text-capitalize">@f.label(i)</td>
          }
	 <td>
           @if(f.raw) {
              <span class="badge" style="float:right;">@HtmlFormat.raw(f.value(i))</span>
           } else {
              <span class="badge" style="float:right;">@f.value(i)</span>
           }
	 </td>
        </tr>
        }
      }
    </table>
  </div>
</div>
  }
}

<div class="panel-group">
  @for(f <- facets) {
    @if(!f.hidden) {
      @facet(f)
    }
  }
</div>

<script>
function filterToggle (el) {
  $('#page-loader').addClass('loader-wait');  
  filters[el.id].checked = el.checked;

  var facet = "";
  for (var f in filters) {
    console.log(f+': '+filters[f].checked);
    if (filters[f].checked) {
      if (facet.length > 0) {
         facet += '&';
      }
      facet += "facet="+filters[f].name + '/' + filters[f].value;
    }
  }
  //console.log(el.id+' '+facet);
  var url = '@HtmlFormat.raw(App.url(facets, "page"))';
  if (facet.length > 0) {
    url += url.indexOf('?') < 0 ? '?' : '&';
    url += facet;
  }
  console.log('>> '+url);
  $.ajax({
     'url': url,
     success: function () {
	  window.location.href = url;
     }
  }).done(function () {
     $('#page-loader').removeClass('loader-wait');
  });
  
  //location.href = url;
}

@**
$(".panel-heading" ).on("click", function(e){
    $(this ).siblings(".facet-panel-body" ).toggle();
});
**@

</script>
